[Unit]
Description=Weather FastAPI App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/weather-app/backend
EnvironmentFile=/home/ubuntu/weather-app/backend/.env
ExecStart=/home/ubuntu/weather-app/backend/venv/bin/uvicorn main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
